body {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  overflow: hidden;

  @media all and (max-width: $screen-xs-max) {
    width: 100%;
  }

  @media all and (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  @media all and (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media all and (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.row:before, .row:after {
  content:"";
  display: block ;
  clear:both;
}

.row {
  overflow: hidden;
  margin-bottom: $row-distance;
}

// Extending placeholder in different media queries is not supported
// We will use mixin
%col {
  float: left;
  padding: 0 $column-gutter;
  min-height: 1px;
  box-sizing: border-box;
}

@mixin col() {
  float: left;
  padding: 0 $column-gutter;
  min-height: 1px;
  box-sizing: border-box;
}

@mixin make-grid($class) {
  @for $i from 1 through $grid-columns {
    .col-#{$class}-#{$i} {
      @include col();
      width: percentage($i * $column-width);
    }
  }
}

@mixin make-hidden($class) {
  .hidden-#{$class} {
    display: none !important;
  }
}

/* Generate col classes */
// The XS grid should work for all screen sizes
//@media all and (max-width: $screen-xs-max) {
@include make-grid(xs);
//}

@media all and (min-width: $screen-sm-min) {
  @include make-grid(sm);
}

@media all and (min-width: $screen-md-min) {
  @include make-grid(md);
}

@media all and (min-width: $screen-lg-min) {
  @include make-grid(lg);
}

/* Generate hidden classes */
@media all and (max-width: $screen-xs-max) {
  @include make-hidden(xs)
}

@media all and (min-width: $screen-sm-min) {
  @include make-hidden(sm)
}

@media all and (min-width: $screen-md-min) {
  @include make-hidden(md)
}

@media all and (min-width: $screen-lg-min) {
  @include make-hidden(lg)
}

